spring:
  application:
    name: maki_test
  datasource:
    url: jdbc:mysql://mysql-0.mysql.goormthon-4.svc.cluster.local:3306/users?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    #    url: jdbc:mysql://localhost:3306/test_db?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 1234
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
  data:
    mongodb:
      uri: mongodb://goorm:goorm123%21@mongodb-0.mongodb.goormthon-4.svc.cluster.local:27017/local?authSource=admin
#      uri: mongodb://root:1234@localhost:27017/local?authSource=admin
      database: local
springdoc:
  api-docs:
    enabled: true